{% extends "sidebar.html" %} {% block div %}

<div class = "page-header logo">
    <img
    src="/static/icons/library.png"
    class="d-inline-block align-top mr-0"
    alt="Book Icon"
  />
  myBook &copy;
</div>
<h5 class = "mt-4 mb-4">Friend Report</h5>


{% if allfriends %}
  {% for friend in allfriends %}
<div class="mycard mt-1 px-3 py-3">
    <div class = "row">
        <div class = "col-7"> 
            {{ friend[4] }}  {{ friend[5] }}
        </div>
    </div> 
</div>
{% endfor %}
{% else %}
<div class = "alert alert-info">This user currently has no friends</div>

{% endif %}

{% endblock %}
