{% extends "base.html" %} {% block main %}

<div class = "content">
    <div class = "grpbanner centre">
        <form action="{{ url_for('grpProfile', grp_id = session['Group_ID'] ) }}" method="post" enctype="multipart/form-data">    
            <div> {{ uploadForm.csrf_token }}
                {% if group_picture != None %} 
            <img
            src="{{ url_for('static', filename='uploads/' + group_picture[1]) }}"
            class="propic mt-5 mb-3 relative" width="180"
              height="180"
              /> 
              {% endif %}
              {% if group_picture == None %} 
            <img src="../static/icons/blank_group_profile.png" class="propic mt-5 mb-3 relative" width="180" height="180" />
            {% endif %}
            {% for ce in valid_editors %}
                {% if session.get('id') in ce %}
                <div>
                        <img class = "absolute middle" src = "../static/icons/plusSign.png" width = "50" height = "50">
                        {{ uploadForm.profPic(class='browse-hidden-profile')}}
                </div>
                <button type="submit" name="submit" class="post-btn">Post</button>
                {% endif %}
                {% endfor %}
            </div>
            
        </form>
        <div class = "profileName mb-3">{{group[1]}}</div>
    </div>



    <!-- PROFILE OF GROUP -->
    <div class = "posts">
        
        <div class = "mycard centre relative pt-0 pb-0 mb-5">
            {% for ce in valid_editors %}
            {% if session.get('id') in ce %}
            <button class="CE-btn ml-0 mt-2 mb-2 smlgrow" data-toggle="modal" data-target="#CEModal">
                Content Editors
            </button>
            {% endif %}
            {% endfor %}
            <form action="{{ url_for('grpProfile', grp_id = session['Group_ID'] ) }}" method="post" enctype="multipart/form-data">
                {% for ce in valid_editors %}
                {% if session.get('id') in ce %}
                {{ form.csrf_token }}
        
                {{ form.description(class='form-control post', placeholder = "Create new post..") }}
        
                <div class = "sleeve">
                    <span class = "sleeve-title">Browse ...</span>
                    {{ form.photo(class='browse-hidden')}}
                </div> 
                
                
                <button type="submit" name="submit" class="post-btn ml-0">Post</button>
                {%  endif %}
                {%  endfor %}
            </form>
        </div>

  
  <!-- Modal -->
  <div class="modal fade" id="CEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title format" id="exampleModalLabel">Content Editors</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body pl-3 pl-3">
        {% for ce in valid_editors %}
        <div class = "row pl-5 mb-3">
            <div class = "col-6">
              <div class = "mb-3 relative">
                  <div class = "thumbnail-pic">
                      <img> 
                  </div>
                  <div class = "post-title">
                      <span class = "post-name tiny ml-2">{{ce[0]}}</span>
                  </div>
              </div>  

            </div> 
        </div>
        {% endfor %}
        <hr>


        <form action="{{ url_for('grpProfile', grp_id = session['Group_ID'] ) }}" method="post" enctype="multipart/form-data" class = "mr-5 ml-5">
            {{ ceForm.csrf_token }}
            {{ ceForm.CEusername(class='form-control post', placeholder = "add content editor by username") }}        
        </div>

        <div class="modal-footer">
          <button type="submit" name="submit" class="btn btn-primary">Add Editor</button>
        </div>

    </form>

      </div>
    </div>
  </div>


        <!-- WHEN THERE ARE NO POSTS -->
        {% if g_posts == [] %}
        <div class ="alert alert-info">
            No one has posted anything as yet
        </div> 
        {% endif %}

        <!-- WHEN THERE ARE POSTS -->
        {% for post in g_posts %} 
    <div class="mycard mb-5">
      <div class="thumbnail-pic"></div>
      <div class="post-title">
        {% if session.get('username') in valid_editors[1] %} 
        <span class="post-name ml-2">You</span> <a href=""><img src="../static/icons/pencil.png" class="pencil ml-2" /></a>
        <br />
        <span class="post-time ml-2">Posted on {{post[1]}} </span>
        {% endif %}
        {% if session.get('username') not in valid_editors[1] %} 
        <span class="post-name ml-2">{{username}}</span> <br />
        <span class="post-time ml-2">Posted on {{post[1]}} </span>
        {% endif %}
      </div>

      <hr />

      <div class="centre">
        <p>{{ post[2] }}</p>
        {% if post[3] != None %} 
        <img
            src="{{ url_for('static', filename='uploads/' + post[3]) }}"
          class="img-block mt-2"
        /> {% endif %}
      </div>
    </div>
    {% endfor %}

        <!-- <div class = "mycard mb-5">
            <div class = "thumbnail-pic">
                <img> 
            </div>
            <div class = "post-title">
                <span class = "post-name ml-2">You</span> <br>  <span class = "post-time ml-2">posted ---- </span>
            </div>

            <hr>

            <div class = "centre">
                <img class = "img-block mt-2"/>
            </div>
            
        </div> 


        <div class = "mycard mb-5">
            <div class = "thumbnail-pic">
                <img> 
            </div>
            <div class = "post-title">
                <span class = "post-name ml-2">You</span> <br>  <span class = "post-time ml-2">posted ---- </span>
            </div>

            <hr>

            <div class = "post-text">
                <p> I had the best time at skl today</p>
            </div>
        </div>  -->

    </div> 

</div>
{% endblock %}