<nav class="navbar navbar-expand-lg fixed-top pt-3 pb-3">
  <div class="container">
    <img
      src="../static/icons/library.png"
      class="d-inline-block align-top ml-3 mr-2"
      alt="Book Icon"
    />
    <a class="navbar-brand nh" href="{{ url_for('home') }}">myBook</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form action="{{ url_for('results', term=term) }}">
          {{ srchForm.searchTerm(class='form-control srch', placeholder =
          "Search") }}
        </form>
      </ul>

      <ul class="navbar-nav">
        {% if 'username' not in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %} {% if 'username' in session %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addfriend') }}">Add Friends</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('createGrp') }}">New Group</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('joinGroup') }}">Join Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link mr-4 dark" href="{{ url_for('dashboard') }}"
            >Dashboard</a
          >
        </li>
        <span class="vr"></span>
        {% if profile_picture != None %}
        <img
          src="{{ url_for('static', filename='uploads/' + profile_picture[1]) }}"
          class="propic mr-2"
          width="40"
          height="40"
        />
        {% endif %}
        <!-- <img class="d-inline-block align-top mr-2 circle" /> -->
        <li class="nav-item">
          <a class="nav-link pl-1 mr-3 dark" href="{{ url_for('profile') }}"
            >{{session['username']}}</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
