{% extends "sidebar.html" %} {% block div %}

<div class="mycard mt-5 mb-5">
  <p class="subhead">Groups</p>
  <div class="row">
    {% if not groups %}
    <p>You are not a member of any groups.</p>
    {% endif %} {% for group in groups %}
    <div class="col-4 grp-tile ml-2">
      <div class="grid-spacing">
        <a href="#">
          <div class="tile">
            <div class="grp_title py-3">
              {{ group[0] }}
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
